@{
    Layout = null;
}

<!DOCTYPE html>
<html class="bootstrap-admin-vertical-centered">
<head>
    <title>云商在线SaaS系统 - 登录</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link rel="stylesheet" media="screen" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" media="screen" href="~/Content/bootstrap-theme.min.css">
    <!-- Bootstrap Admin Theme -->
    <link rel="stylesheet" media="screen" href="~/Content/bootstrap-admin-theme.css">
    <link rel="stylesheet" media="screen" href="~/Content/Site.css">
    <link rel="stylesheet" media="screen" href="~/Content/common.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <h1 class="site-title">云商在线SaaS系统</h1>
            <form class="form-horizontal login-form" id="loginForm" method="post" action="UserLogin">
                <div class="form-group text-center">
                    <h3>
                        欢迎登录 <small>Welcome login</small>
                    </h3>
                </div>
                <div class="form-group">
                    <label for="userName" class="col-sm-2 control-label">用户名</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="userName" name="userName" placeholder="UserName" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="password" class="col-sm-2 control-label">密码</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="remember"> 下次自动登录 <small>remember me</small>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-2">
                        <button type="submit" class="btn btn-primary">登录 Sign in</button>
                    </div>
                    <div class="col-sm-offset-1 col-sm-6">
                        <p class="form-control-static">
                            <a target="_blank" href="forgotpassword">忘记密码 <small>forgot password</small>?</a>
                        </p>
                    </div>
                </div>
                <div class="form-group has-error">
                    <div class="col-sm-offset-2 col-sm-10">
                        <label class="control-label" id="loginMessage"></label>
                    </div>
                </div>
            </form>
        </div>
        @*<div class="row">
                <h1 class="site-title">云商在线SaaS系统</h1>
                <div class="col-lg-12">
                    <form id="loginForm" method="post" action="UserLogin" class="bootstrap-admin-login-form">
                        <h3>欢迎登录</h3>
                        <div class="form-group">
                            <input class="form-control" type="text" name="userName" placeholder="登录名" required>
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="password" name="password" placeholder="密码" required>
                        </div>
                        <div class="form-group">
                            <label>
                                <input type="checkbox" name="remember">
                                下次自动登录
                            </label>
                            | <a target="_blank" href="forgotpassword">忘记密码了?</a>
                        </div>
                        <button class="btn btn-lg btn-primary" type="submit">登录</button>
                        <a class="registry-link" target="_blank" href="registry">注册新用户</a>
                        <span id="loginMessage" class="login-message validation-summary-errors"></span>
                    </form>
                </div>
            </div>*@
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Scripts/user.js")
</body>
</html>