@{
    Layout = null;
}
<!DOCTYPE html>
<html class="index-html">
<head>
    <title>云商在线SaaS系统</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css")
    <link rel="stylesheet" media="screen" href="~/Content/Site.css">
</head>
<body class="index-body">
    <div class="container-fluid">
        <div class="header-title">
            <h4>厦门智联云商信息科技有限公司，欢迎您！</h4>
            <p>全国热线：<span>400-188-6688</span></p>
        </div>
        <div class="clearfix"></div>
        <div class="absolute-center row">
            <div class="col-sm-7 banner-content">
                <div class="row">
                    <div class="banner-cell col-sm-6" style="background-color: #FFCC66; margin-left: -20px;">
                        <p style="color: #006300; font-weight: bold; font-size: 20px; padding-top: 40px;">客户、贸易商、供应商</p>
                        <p style="color: #006300; font-weight: bold; font-size: 20px;">云端生态系统</p>
                        <p style="font-size: 13px; color: white; padding-top: 10px;">所有合作企业云端在线协同作业</p>
                    </div>
                    <div class="banner-cell col-sm-6" style="background-color: #98CB00; margin-left: 20px;">
                        <p style="color: #FD3000; font-weight: bold; font-size: 19px; padding-top: 50px;">去碎片化，基于订单管理</p>
                        <p style="font-size: 13px; color: white; padding-top: 17px;">整合业务会话信息、邮件、订单一体</p>
                        <p style="font-size: 13px; color: white; margin-top: -5px;">让所有与企业相关信息变得易于管理</p>
                    </div>
                </div>
                <div class="row">
                    <div class="banner-cell col-sm-6" style="background-color: #10A64F; margin-left: -20px;">
                        <p style="color: #FF9A00; font-weight: bold; font-size: 16px; padding-top: 50px;">业务信息实时更新、自动推送</p>
                        <p style="font-size: 13px; color: white; padding-top: 17px;">贸易商更新业务单据，</p>
                        <p style="font-size: 13px; color: white; margin-top: -5px;">系统自动向关联合作伙伴推送</p>
                    </div>
                    <div class="banner-cell col-sm-6" style="background-color: #00CCFF; margin-left: 20px;">
                        <p style="color: black; font-weight: bold; font-size: 19px; padding-top: 50px;">云计算、云存储</p>
                        <p style="font-size: 12px; color: white; padding-top: 17px;">系统采用最快速、最安全、最便捷的</p>
                        <p style="font-size: 12px; color: white; margin-top: -5px;">Iaas+Saas云架构，为您的企业保驾护航！</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-5 login-container">
                <form>
                    <div class="form-row text-center" style="color: #FF9B00; font: 28px 'Microsoft YaHei'">系统登录</div>
                    <div class="form-row input-group">
                        <span class="input-group-addon">账号</span>
                        <input type="text" class="form-control" name="userName" placeholder="account">
                    </div>
                    <div class="form-row input-group">
                        <span class="input-group-addon">密码</span>
                        <input type="text" class="form-control" name="password" placeholder="password">
                    </div>
                    <div class="form-row input-group">
                        <span class="input-group-addon">验证码</span>
                        <input type="text" class="form-control" name="validateCode" placeholder="validate code" style="width: 110px;">
                        <img class="query-validate-image validate-image" src="/Home/GetValidateImage" org-src="/Home/GetValidateImage" title="点击刷新 Click refresh" />
                    </div>
                    <div class="form-row checkbox" style="color: #43FFFF; font-weight: bold;">
                        <label>
                            <input type="checkbox"> 记住密码 remember me
                        </label>
                        <a style="padding-left: 20px; color: #43FFFF;">忘记密码?</a>
                    </div>
                    <div class="form-row">
                        <input type="button" class="btn btn-default" value="登录" style="background-color: #FE9900; width: 120px;"/>&nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="button" class="btn btn-default" value="注册" style="background-color: #FE9900; width: 120px;"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/framework")
    @Scripts.Render("~/Scripts/user.js")
</body>
</html>